@page "/carousel"

@using Components;
@using System.Collections;
@using System.IO;
@using MimeMapping;
@using Microsoft.AspNetCore.Hosting;

@inject IWebHostEnvironment Environment

<div class="mt-3">
    <label>Image Carousel, no parameters other than imageset and CSSClass set:</label><span class="ml-2 "></span>
    <Carousel imageset="@AssetImages" CssClass="col-12"></Carousel>
</div>

<div class="mt-3">
    <label>Image Carousel, with Click handler:</label><span class="ml-2 "></span>
    <Carousel imageset="@AssetImages" CssClass="col-12" OnCarouselItemClicked="OnCarouselItemClicked"></Carousel>

</div>

<div class="mt-3">
    <label>Image Carousel, with Click handler and auto-scroll set:</label><span class="ml-2 "></span>
    <Carousel imageset="@AssetImages" CssClass="col-12" AutoScrollInterval="5" OnCarouselItemClicked="OnCarouselItemClicked"></Carousel>
</div>

<div class="mt-3 mb-3">
    <label>Image Carousel, with Click handler and auto-scroll set, but Navigation turned off:</label><span class="ml-2 "></span>
    <Carousel imageset="@AssetImages" CssClass="col-12" AutoScrollInterval="5" OnCarouselItemClicked="OnCarouselItemClicked" ShowNavigation="false"></Carousel>
</div>

@code
{
    List<ImageFile> AssetImages
    {
        get
        {
            List<ImageFile> imagesToReturn = new List<ImageFile>();

            var assetFiles = Environment.WebRootFileProvider.GetDirectoryContents("Assets");

            foreach (var assetFile in assetFiles)
            {
                ImageFile imageFile = new ImageFile()
                {
                    FileName = assetFile.Name,
                    MimeType = MimeMapping.MimeUtility.GetMimeMapping(assetFile.Name)
                };

                imageFile.FileContent = File.ReadAllBytes(assetFile.PhysicalPath);
                imagesToReturn.Add(imageFile);
            }

            imagesToReturn.Add(new ImageFile() { Url = "https://picsum.photos/200/300" });

            return imagesToReturn;
        }
    }

    void OnCarouselItemClicked(object sender, int indexClicked)
    {
        Console.WriteLine($"Carousel Index Clicked: {indexClicked}");
    }
}

